<mat-toolbar color="primary">
  <span>DDrescue Split Calculator</span>
</mat-toolbar>

<div class="alert alert-danger">
  Cuidado! Não nos responsabilizamos pelo uso dos comandos gerados.
</div>

<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Backup">
        <div class="panel">
          <mat-form-field>
            <mat-label>Disco de origem</mat-label>
            <input matInput type="text" [(ngModel)]="deviceIn">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tamanho da origem em bytes</mat-label>
            <input matInput type="text" [(ngModel)]="deviceLen">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tamanho dos Padaços</mat-label>
            <input matInput type="text" [(ngModel)]="chunks">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pasta de destino</mat-label>
            <input matInput type="text" [(ngModel)]="folderOut">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="backup()">Gerar comandos</button>
          <div class="command">{{ ansBackup }}</div>
        </div>
      </mat-tab>
      <mat-tab label="Restore">
        <div class="panel">
          <mat-form-field>
            <mat-label>Pasta de origem</mat-label>
            <input matInput type="text" [(ngModel)]="folderIn">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tamanho dos Padaços</mat-label>
            <input matInput type="text" [(ngModel)]="chunks">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Disco de destino</mat-label>
            <input matInput type="text" [(ngModel)]="deviceOut">
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="restore()">Gerar comandos</button>
          <div class="command">{{ ansRestore }}</div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
